<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">CmsShoppingCart</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <% pages.forEach(function(page) {%>
            <% if (page.slug == 'home') {%>
                <li class="nav-item"><a class="nav-link" href="/"><%= page.title %></a></li>
            <%} else {%>
                <li class="nav-item"><a class="nav-link" href="<%= page.slug %>"><%= page.title %></a></li>
            <%}%>
          <% }); %>
        </ul>
      </div>
    </nav>

    <div class="container">
        <%- messages('messages', locals) %>